* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------Left Comp------------------------------------- */
.left-comp {
  height: 94.3vh;
  width: 65px;
  background: #36404a;
  color: #97a2af;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}

.left-comp .menu-btn {
  position: absolute;
  top: 20px;
  right: 25px;
}

.left-comp div {
  position: absolute;
}

.logo {
  top: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.buttons {
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 55%;
}

.buttons a:hover {
  background: #e9edf10c;
  transition: ease 0.5s;
}

.buttons img,
.log-out img {
  width: 18px;
  height: 18px;
}

.buttons .clicked-button {
  background: #303841;
}

.buttons .clicked-button:hover {
  background-color: #303841;
}

.log-out {
  bottom: 50px;
}

.log-out button {
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 55%;
  transition: ease 0.5s;
}

.log-out button:hover {
  background: #e9edf119;
}

/* -------------------------------------Mid Comp------------------------------------- */
.mid-comp {
  height: 97vh;
  min-width: 370px;
  background-color: #303841;
}

/* -------------------------------------Right Comp------------------------------------- */
.right-comp {
  height: 97vh;
  width: 1200px;
  background-color: #262e35;
  color: white;
  position: relative;
  scroll-behavior: smooth;
}

.chat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.089);
  position: relative;
}

.chat-head > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  gap: 20px;
}

.menu-icon {
  padding-right: 50px;
  font-size: 22px;
  font-weight: 550;
  cursor: pointer;
  position: relative;
  transition: ease .6s;
}

@keyframes dropdown {
  from{
    opacity: 0;
  }
  to{
    opacity: 100;
  }
}

.dropdown {
  font-size: 16px;
  position: absolute;
  right: 16px;
  font-weight: 400;
  width: 95px;
  top: 44px;
  z-index: 20;
  transition: ease .6s;
  animation: dropdown 1s 1 ease;
  background-color: #181c1f;
  padding: 5px;
  padding-top: 12px;
  border-radius: 10px;
}

.dropdown-option{
  height: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  transition: ease .5s;
}

.dropdown-option:hover{
  background-color: #4b5561;
  color: #72c976;
}

.menu-btn {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  border: none;
  border-radius: 50%;
  background-color: #72c976;
  display: none;
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #8e6e6e;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
}

.user-avatar img {
  height: 46px;
  transform: scale(2);
}

.user-name {
  font-weight: 500;
}

.user-status {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.386);
  margin-top: 3px;
}

.chat-section {
  height: 78%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chat-section::-webkit-scrollbar {
  display: none;
}

.msg-box {
  min-width: 20px;
  max-width: 400px;
  margin: 10px;
  padding: 13px;
  border-radius: 16px;
  position: relative;
}

.msg-right {
  align-self: flex-end;
  background: #37404a;
}

.msg-left {
  align-self: flex-start;
  background: #4b5561;
}

.msg-sender {
  display: flex;
  height: 10%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.msg-sender textarea {
  color: white;
  background: #37404a;
  width: 80%;
  height: 20px;
  padding: 10px;
  transition: 0.5s;
  outline: none;
}

.msg-sender textarea:focus {
  border: 1px solid #72c976;
}

.attach {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.482);
  cursor: pointer;
}

.attach i {
  font-size: 20px;
}

.btn-send {
  background-color: #72c976;
  height: 38px;
  width: 38px;
  border: none;
  cursor: pointer;
}

.btn-send img {
  height: 20px;
}

@media only screen and (max-width: 910px) {
  /* --------------------left compo------------------ */
  .logo {
    top: 80px;
  }

  .buttons {
    top: 150px;
  }

  /* --------------------right compo------------------ */
  .menu-btn {
    display: inline;
  }

  .chat-head .user-avatar {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 665px) {
  .mid-comp {
    min-width: 300px;
  }
}

@media only screen and (max-width: 530px) {
  .msg-box {
    min-width: 150px;
    max-width: 300px;
    font-size: 15px;
  }

  .menu-icon {
    padding-right: 20px;
  }

  .dropdown{
    right: 0;
  }
}

@media only screen and (max-width: 390px) {
  .msg-box {
    min-width: 100px;
    max-width: 250px;
    font-size: 13px;
  }

  .user-name {
    font-size: 16px;
  }
}
