*{
    margin: 0;
    padding: 0;
}

/* -------------------------------------Left Comp------------------------------------- */
.left-comp{
    height: 94.3vh;
    width: 65px;
    background: #36404a;
    color: #97a2af;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: relative;
}

.left-comp div{
    position: absolute;
}

.logo{
    top: 20px;
}

.logo img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.buttons{
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons a{
    padding: 20px;
    border-radius: 48%;
}

.buttons .chat{
    background-color: #303841;
}

.buttons a:hover{
    background: #e9edf10c;
    transition: ease .5s;
}

.buttons img, .log-out img{
    width: 18px;
    height: 18px;
}

.log-out{
    bottom: 60px;
}

.log-out button{
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 20px;
    border-radius: 48%;
    transition: ease .5s;
}

.log-out button:hover{
    background: #e9edf119;
}

/* -------------------------------------Mid Comp------------------------------------- */
.mid-comp{
    height: 97vh;
    width: 400px;
    background-color: #303841;
}

/* -------------------------------------Right Comp------------------------------------- */
.right-comp{
    height: 97vh;
    width: 1000px;
    background-color: #262e35;
}