/* -------------------------------------chat compo------------------------------------- */
.chat-comp {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chat-comp > div {
  width: 90%;
  float: left;
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #72c976;
}

.search {
  position: relative;
}

.search img {
  width: 33px;
  position: absolute;
  top: 25px;
  left: 10px;
  transition: ease 0.7s;
}

.search input {
  border: 2px solid #454f5a;
  border-radius: 5px;
  background: #37404a;
  height: 40px;
  width: 320px;
  font-size: 14px;
  padding: 0.375rem 0 0.375rem 3rem;
  transition: ease 0.7s;
  color: white;
  outline: none;
}

.search input:focus {
  border: 2px solid #72c976;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.242);
}

.search:hover input {
  border: 2px solid #72c976;
}

.chat-list {
  height: 100%;
  overflow-y: scroll;
}

.chat-list::-webkit-scrollbar {
  width: 5px;
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 252, 252, 0.413);
  border-radius: 20px;
}

.chat-list ul li {
  list-style: none;
  display: flex;
  margin: 10px 0;
  padding: 10px;
  gap: 20px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  cursor: pointer;
  position: relative;
}

.online-symbol {
  position: absolute;
  height: 14.5px;
  width: 14.5px;
  border-radius: 50%;
  background-color: lime;
  bottom: 8px;
  left: 38px;
  border: 4px solid #303841;
}

.profile-img {
  height: 45px;
  width: 45px;
  font-size: 18px;
  background-color: #b91313;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-con .profile-img {
  font-size: 28px;
}

.profile-img img {
  height: 43px;
  transform: scale(2);
}

.name-msg .name {
  font-size: 15px;
  margin-bottom: 4px;
}

.name-msg .last-msg {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.365);
}

/* -------------------------------------profile compo------------------------------------- */
.profile-con {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.profile-con .options{
  color: white;
  gap: 35px;
  display: flex;
  margin: 15px 
}

.profile-con .options span{
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: ease .5s;
}

.not-clicked{
  color: rgba(255, 255, 255, 0.459);
}

.not-clicked:hover{
  color: white;
}

.profile-con > span {
  width: 90%;
  float: left;
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #72c976;
}

.user-profile {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 7px;
}

.user-profile .profile-img {
  height: 100px;
  width: 100px;
  font-weight: 600;
}

.user-profile .profile-img img {
  height: 180px;
  transform: scale(1);
}

.user-profile .user-name {
  font-size: 17px;
  margin-top: 10px;
}

.user-profile .user-about {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.379);
  font-family: "Lora", serif;
}

.user-media {
  height: 60%;
  width: 97%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-media > span {
  font-size: 15px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.521);
  margin-bottom: 20px;
}

.user-media > div {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 5.1rem);
  grid-template-rows: repeat(4, 5.1rem);
  overflow-y: scroll;
}

.user-media > div::-webkit-scrollbar {
  width: 5px;
}

.user-media > div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 252, 252, 0.413);
  border-radius: 20px;
}

.user-media > div img {
  height: 70px;
  width: 70px;
}

/* -------------------------------------setting compo------------------------------------- */
.setting-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  gap: 10px;
}

.setting-comp > div {
  margin: 20px 0 10px 45px;
  color: #72c976;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  float: left;
}

.setting-comp .collap-compo {
  width: 100%;
  height: 78%;
  overflow-y: scroll;
}

.setting-comp .collap-compo::-webkit-scrollbar {
  display: none;
}

.setting-comp ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 13px 0;
}

.setting-comp ul li {
  list-style: none;
  margin: 8px 0;
  width: 85%;
  color: white;
  background-color: #262e35;
  border-radius: 5px;
  overflow: hidden;
}

.setting-comp ul li > label {
  cursor: pointer;
  font-weight: 500;
  min-height: 50px;
  margin-left: 20px;
  width: 85%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-comp ul li > label::after {
  content: "+";
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 26px;
  width: 26px;
  padding: 0px 2px 4px 2px;
  border-radius: 50%;
  background-color: #454f5a93;
  transform: scale(0.8);
}

.setting-comp ul li > input {
  display: none;
}

.content {
  max-height: 0px;
  overflow: hidden;
  color: white;
  transition: all ease 0.5s;
  background: #262e35;
}

.collaps li input[type="radio"]:checked + label + .content {
  max-height: 400px;
}

.collaps li input[type="radio"]:checked + label::after {
  content: "-";
  font-size: 39px;
  font-weight: 400;
  height: 20px;
  width: 26px;
  padding: 1px 3px 10px 3px;
}

.content div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.content div input {
  background: transparent;
  border: 1px solid #454f5a;
  height: 36px;
  width: 80%;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.874);
  font-size: 13px;
  outline: none;
}

.content div input:hover {
  border: 1px solid #5f6873;
}

.content div input:focus {
  border: 1px solid #72c976;
}

.content div .content-name {
  color: #72c976;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #262e35;
  padding: 2px 10px;
  position: absolute;
  top: 0;
  left: 45px;
}

.content div:nth-child(3) {
  margin-bottom: 10px;
}

.setting-btn {
  color: white;
  background-color: #72c976;
  height: 40px;
  width: 86%;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
}

.setting-btn:hover {
  background: #65a967;
}

.setting-comp > button {
  width: 80%;
  position: absolute;
  bottom: 25px;
}

.collap-img {
  height: 70px;
  width: 70px;
  font-size: 22px;
  font-weight: 500;
  position: relative;
}

.avatar-colors {
  width: 60%;
  height: 50%;
  padding-left: 30px;
  display: grid !important;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(3, 50px);
  justify-content: center;
  align-items: center;
}

.avatar-colors span {
  height: 40px;
  width: 40px;
  border-radius: 52%;
}

.collap-profile {
  position: relative;
}

.collap-profile > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.872);
  height: 6px;
  width: 6px;
  border-radius: 52px;
  font-size: 15px;
  bottom: 8px;
  right: 125px;
  z-index: 2000;
  cursor: pointer;
}

.collap-profile > div i {
  cursor: pointer;
}

.res-msg {
  margin-top: -22px;
}

.success {
  color: #72c976;
}

.failed {
  color: rgb(201, 24, 24);
}

@media only screen and (max-width: 665px) {
  .search input {
    width: 250px;
  }
}

@media only screen and (max-width: 440px) {
  .user-media > div {
    display: grid;
    grid-template-columns: repeat(3, 5.5rem);
    grid-template-rows: repeat(3, 5.5rem);
  }
}
